ul {
    list-style-type: none;
    padding-left: 0;
}


section {
    padding: 100px 0;
}

/* section-hero */
.icon {
    max-width: 15px;
}

.header-title {
    text-align: center;
    font-size: 24px;
}

.spec-info {
    font-size: 16px;
    display: flex;
    gap: 15px;
}

.mo-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mo-mt-30 {
    margin-top: 30px;
}

.container {
    background-color: aliceblue;
}

.mo-key_container {
    display: flex;
    gap: 15px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid blue;
}

.skills {
    max-width: 40%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid blue;
    margin-right: 6%;
}

.cards-img {
    max-width: 100px;
}

.map {
    max-width: 50%;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid blue;
}

.logo-vue {
    max-width: 100px;
}

.map-2 {
    display: flex;
    gap: 10%;
}

.about {
    display: flex;
}

.footer {
    padding: 30px;
    background-color: cornflowerblue;
    border-radius: 40px 40px;
}

@media screen and (max-width: 1000px) {
    .about {
        flex-direction: column;
    }

    .skills {
        max-width: 100%;
        margin-bottom: 7%;
    }

    .map {
        max-width: 100%;
    }

    .avatar {
        margin-bottom: 7%;
    }
}